* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.maincard {
    background-color: black;
    height: 70%;
    width: 50%;
}